node_modules
test
*.spec.js
docs

.npmignore
.babelrc
webpack.config.js

CHANGELOG.md

.travis.yml
.jshintignore
.jshintrc

coverage
.coveralls.yml
.nyc_output/

.node-version
*.log
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
