.highlight-graphic {
  border-radius: 50%;
  text-align: center;
  margin-top: 50px;
}

// Highlights

.highlight-graphic [class^="icon-16-"],
.highlight-graphic [class*="icon-16-"] {
  box-shadow: 0 2px 8px rgba($primary, .2);
  border-radius: 50%;
  font-size: 62px;
  line-height: 137px;
  color: $accent;
  width: 140px;
  display: block;
  margin: auto;
}

@media (min-width: $screen-sm-min) {
  .highlight-graphic [class^="icon-16-"],
  .highlight-graphic [class*="icon-16-"] {
    font-size: 100px;
    line-height: 220px;
    width: 220px;
  }

  .highlight-graphic {
    margin-top: 0px;
  }
}

header.header {
  padding: 0 32px 16px;
}

article.about {
  padding: 64px 0px 32px;

  h3 {
    margin-top: 0;
  }
}

div.features {
  padding: 0;
}

.header-cta {
  a.btn {
    margin: 16px 0 0 0;
  }
}

.header-search {
  max-width: 450px;
  min-width: 33%;
  display: inline-block;
  margin-bottom: 16px;
}